# Ignore files with the pattern fedml_config_NUM_NUM.yaml
fedml_config_[0-9]*_[0-9]*.yaml
# But do not ignore fedml_config.yaml
!fedml_config.yaml
*.png
fed_data/
wandb/
__pycache__/
anaconda.sh 
.log
latest-run/