comm_args:
  backend: sp
common_args:
  data_split: true
  alpha_active: 1.0
  alpha_dirichlet: 100.0
  dirichlet_seed: 993522575
  config_version: dev
  mlops_api_key: c9356b9c4ce44363bb66366b210201
  mlops_project_name: simulation_2
  mlops_run_name: fedml_torch_fedavg_COCP
  overlap_num: 0
  overlap_percentage: 1.0
  random_seed: 0
  sampling_fun: client_sampling_cyclic_overlap_pattern
  training_type: simulation
  var_epoch: 0
  group_norm_size: 0
  AdaptiveDecay: 10.0
  lr_update_freq: 10
  group_wise_models: True

data_args:
  data_cache_dir: ~/fedml_data
  dataset: CIFAR100
  partition_alpha: 0.5
  partition_method: hetero
device_args:
  gpu_id: 0
  using_gpu: True
model_args:
  model: RESNET_18
tracking_args:
  enable_tracking: False
  enable_wandb: True
  # run_name: Dir:0.5_decay:4_update_freq:2_Overlap:3_Dataset:CIFAR100_Remark:PreTrained
  run_name: test
  wandb_entity: shubham22124
  wandb_key: d99d2566208f899b41fe157bc466bece6d1789e2
  wandb_project: Equal Group Number Variable Group Size
  resume_wandb: False        # either must or False
train_args:
  batch_size: 32
  client_id_list: '[]'
  client_num_in_total: 100
  # client_num_per_round: 10
  total_groups: 10
  client_optimizer: sgd
  server_optimizer: Adam
  comm_round: 500
  total_cycles: 150
  epochs: 2
  federated_optimizer: FedAvg
  server_optimizer: Adam
  learning_rate: 0.1
  server_lr: 0.01
  momentum: 0.9
  num_groups: 5
  weight_decay: 0.000001
validation_args:
  frequency_of_the_test: 1